
$accent: #F37721;
$accentDark: #C56726;
// status
$paid: #74b521;
$paidDark: #62a013;
$complete: #a7d769;
$completeDark: #95cd4d;
$open: #ffa646;
$openDark: #ef9635;
$failed: #fd6d3b;
$failedDark: #f15f2c;
$declined: #fd6d3b;
$declinedDark: #f5612e;
$backordered: #4ab8f7;
$backorderedDark: #37a8e9;
$canceled: #d4d4d4;
$waitingCall: #b63a21;
$waitingCallDark: #a22c15;
$incomplete: transparent;

$success: #14be68;

$border: #d3dbe2;
$borderLight: #ededed;
$transition: .3s ease-in-out;
$gray2: #969696;
$radius: 6px;

$sizeInput: 35px;