input{
  &.form-control{
    height:35px;
    font-size:13px;
  }
  &.calendar {
    min-width: 150px;
  }
}
.input-date{
  max-width:200px;
}
select{
  &.form-control{
    max-width: 220px;
  }
}
.input-group {
  > input.form-control.search-header{
    min-width:220px;
  }
}

.input-daterange{
  display: flex;
  align-items: center;
  justify-content: space-between;
  input{
    flex:0 0 40%;
    display: inline-block;
    min-width:100px;
  }
  .input-group-addon{
    margin:0;
  }
}


.form-check-input{
  margin-top: 0;
}

.input-group-text {
  padding-top: 0;
  padding-bottom: 0;
}

.password-field {
  position: relative;
  > input {
    color: #696969;
    height: $sizeInput;
    border-radius: $radius;
  }
}

.eyes-input-form {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0;
  width: $sizeInput;
  height: $sizeInput;
  img {
    width: 17px;
  }
  &:focus {
    outline: none;
  }
}

.input-date-time {
  position: relative;
  &:after {
    content: url("../images/calendar-icon.svg");
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .icon-date {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 1;
    color: #969696;
  }
}

.input-group .form-control.initial-raidus {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}